[% WRAPPER 'include/layout.tt' %]
[% IF user %]
<h1>files</h1>
<section class="row">
   [% file_count %] file is exsists
</section>
[% ELSE #not logged in! %]
<h1>Please Login</h1>
<section class="row">
    <div class="span4">
        <h2>dropbox login</h2>
    </div>
    <div class="span12">
        <a href="[% login%]">login</a>
    </div>
</section>
[% END #IF !user %]
[% END %]
